<footer class="ap-footer">
    <section>
        <div class="ap-container">
            <ul class="no-bullet menu ap-menu ap-divided ap-footer-links">
                <li><a href="#">Follow me on ThemeForest</a></li>
                <li><a href="#">View theme demo</a></li>
                <li><a href="#">Purchase Avalanche</a></li>
            </ul>
        </div> <!-- end .ap-container -->
    </section>

    <section>
        <div class="ap-footer-secondary">
            <div class="ap-container">
                <div class="grid-x grid-margin-x grid-padding-y align-middle">
                    <div class="cell large-shrink small-auto">
                        <img src="{{root}}assets/img/logo-ap.svg" alt="Adi Purdila Logo" />
                    </div> <!-- end .cell -->

                    <div class="cell large-shrink small-auto">
                        <p><small>&copy; 2017 Adi Purdila.</small></p>
                    </div> <!-- end .cell -->

                    <div class="cell auto">
                        <ul class="no-bullet menu align-right" id="ap-social-icons">
                            <li><a href="#" class="ap-button-icon"><i class="icon ion-android-mail"></i></a></li>
                            <li><a href="#" class="ap-button-icon"><i class="icon ion-android-globe"></i></a></li>
                            <li><a href="#" class="ap-button-icon"><i class="icon ion-social-twitter"></i></a></li>
                            <li><a href="#" class="ap-button-icon"><i class="icon ion-social-facebook"></i></a></li>
                            <li><a href="#" class="ap-button-icon"><i class="icon ion-social-linkedin"></i></a></li>
                        </ul>
                    </div> <!-- end .cell -->
                </div> <!-- end .grid-x -->
            </div> <!-- end .ap-container -->
        </div> <!-- end .ap-footer-secondary -->
    </section>
</footer>