{{#ifpage 'faq'}}
    <li><a href="#faq-q1">How do I install the theme?</a></li>
    <li><a href="#faq-q2">How do I change the colors and fonts?</a></li>
    <li><a href="#faq-q3">How do I show a different sidebar in my homepage?</a></li>
    <li><a href="#faq-q4">How do I change the footer copyright text?</a></li>
{{/ifpage}}

{{#ifpage 'changelog'}}
    <li><a href="#changelog-1">Version 1.2</a></li>
    <li><a href="#changelog-2">Version 1.1</a></li>
    <li><a href="#changelog-3">Version 1.0 - Initial release</a></li>
{{/ifpage}}

{{#ifpage 'introduction'}}
    <li><a href="#introduction-1">What is WordPress?</a></li>
    <li><a href="#introduction-2">What is a WordPress theme?</a></li>
    <li><a href="#introduction-3">File structure</a></li>
{{/ifpage}}

{{#ifpage 'installing-avalanche'}}
    <li><a href="#section-1">Step 1. Locate the theme files</a></li>
    <li><a href="#section-2">Step 2. Log into the WordPress back-end</a></li>
    <li><a href="#section-3">Step 3. Install Avalanche</a></li>
{{/ifpage}}

{{#ifpage 'support'}}
<li><a href="#support-1">What is covered by support?</a></li>
<li><a href="#support-2">Our support team schedule</a></li>
<li><a href="#support-3">How to get support</a></li>
{{/ifpage}}