<div class="top-bar">
	<div class="top-bar-left clearfix align-middle">
		<div class="ap-hamburger-container">
			<a href="#" class="ap-button-icon ap-small show-for-small hide-for-large" data-open="offCanvas"><i class="icon ion-navicon-round"></i></a>
		</div> <!-- end .ap-hamburger-container -->
		<a href="{{root}}index.html" id="ap-top-logo" ><img src="{{root}}assets/img/logo.svg" alt="Logo"></a>
		<span class="ap-flex-filler"></span>
	</div> <!-- end .top-bar-left -->
	<div class="top-bar-right">
		<nav>
			<ul class="menu ap-menu">
				{{> nav-main}}
			</ul>
		</nav>
	</div> <!-- end .top-bar-right -->
</div> <!-- end .top-bar -->