{{#ifpage 'introduction'}}
    <figure>
        <div class="responsive-embed widescreen">
            <iframe src="https://www.youtube.com/embed/7e90gBu4pas?ecver=1" frameborder="0" allowfullscreen></iframe>
        </div>
        <figcaption>Working at Envato.</figcaption>
    </figure>
{{/ifpage}}
    
{{#ifpage 'installing-avalanche'}}
    <figure>
        <div class="responsive-embed widescreen">
            <iframe src="https://www.youtube.com/embed/mcvqOUtcAJg?ecver=1" frameborder="0" allowfullscreen></iframe>
        </div>
        <figcaption>Collis and Cyan Ta'eed talk about starting Envato</figcaption>        
    </figure>
{{/ifpage}}