/** ===========================================================================
 *
 * 3. Sidebars
 *
 * 3.1 Sidebar left and right.
 * 3.2 Sidebar widgets.
 *
 * ========================================================================= */

/** ---------------------------------------------------------------------------
 * 3.1 Sidebar left and right.
 * ------------------------------------------------------------------------- */
.ap-sidebar-left,
.ap-sidebar-right {
    padding: 4rem 2.5rem;    
}

.ap-sidebar-left {
    width: 20rem;
}

.ap-sidebar-right {
    width: 16rem;
}



/** ---------------------------------------------------------------------------
 * 3.2 Sidebar widgets.
 * ------------------------------------------------------------------------- */
.ap-sidebar-widget {
    margin-bottom: 4rem;

    &#ap-widget-small-video {
        display: none;

        @media (min-height: 900px) {
            display: block;
        }
    }
}
 